h2 {
	color: blueviolet;
	text-transform: uppercase;
}

hr {
	border: 2px grey solid;
	margin-bottom: 20px;
	/* width: 50%; */
	/* text-align: left; */
}

section {
	padding: 15px;
}

article {
	width: 18rem;
	border: 1px red solid;
}

article img {
	width: 100%;
	height: 230px;
	object-fit: cover;
	object-position: center bottom;
}

div.article-body {
	padding: 20px;
}

article h3 {
	font-size: x-large;
}

article p {
	color: gray;
}

article button {
	background-color: brown;
	color: whitesmoke;
	border: none;
	padding: 10px 15px;
	border-radius: 50px;
	cursor: pointer;
}