* {
	padding: 0;
	margin: 0;
}

h1 {
	color: green;
}

.re {
	color: red;
}

.gr {
	color: greenyellow;
}

.lg {
	font-size: 40px;
}

.md {
	font-size: 28px;
}

.sm {
	font-size: 16px;
}

#first {
	text-transform: uppercase;
}

#second {
	text-transform: capitalize;
}

[type=text] {
	border: 2px red solid;
}

[type=number] {
	border: 2px blue solid;
}

[type=button] {
	background-color: aquamarine;
}

.adj + input {
	background-color: rgba(165, 42, 42, 0.308);
}

.adj ~ input {
	background-color: rgba(172, 255, 47, 0.328);
}

div > p {
	background-color: aquamarine;
	margin-bottom: 3px;
}


a:visited {
	color: chartreuse;
}

a:hover {
	color: brown;
}

a:focus {
	background-color: deeppink;
}